.ul-list {
    display: none;
  }
  .ul-list{
    width: 579.5px;
    position: relative;

  }
  .ul-list  li:hover{
    background-color: #f0eeee;
  }

    .focus-contrl:focus-within .form-contrl{
      border: 1px solid blue !important;  
      border-bottom: none !important;
      border-top-left-radius: 5px !important;
      border-top-right-radius: 5px !important;
      border-radius: 0;
    }
  .form-contrl:focus {
    box-shadow: none !important;
  } 

  .form-contrl:focus + .ul-list,
.form-contrl:active + .ul-list {
  display: block !important;
} 

/* .form-contrl {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28)!important;
    border: none!important;
    padding: 10px 20px!important;
    border-radius: 24px!important;
    outline: none !important;
    transition: box-shadow 0.3s!important;
} */

/* .form-contrl:focus {
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.38)!important;
}  */