.footer-container {
    background-image: url('../../assets/earth-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
}

.bg-gradient-overlay {
    background: rgb(1,6,20);
    background: linear-gradient(0deg, rgba(1,6,20,1) 50%, rgba(9,19,50,0.8885679271708683) 65%, rgba(7,31,115,0.1966911764705882) 74%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 17%;
    left: 0;
    min-height: 640px;
    max-width: auto;
}