.remove-focus:focus {
  box-shadow: none !important;
}

.dropdown-toggle:focus,
.dropdown-menu button:focus {
  box-shadow: none !important;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
  background-color: inherit !important;
  color: rgb(133, 132, 132) !important;
}

.container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; 
}